<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../css/style.css}">
</head>
<body>

<header>
    <!-- Navigation menu -->
    <div th:replace="navigation.html"></div>
</header>

<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Change Password</div>

                    <th:block th:if="${session.msg}">
                        <p class="text-center fs-4 text-success">[[${session.msg}]]</p>
                        <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
                    </th:block>

                    <div class="card-body">
                        <form action="updatePassword" method="post">

                            <div class="mb-3">
                                <label>Old password</label> <input type="text" name="oldPass"
                                                            class="form-control">
                            </div>

                            <div class="mb-3">
                                <label>New password</label> <input type="text" name="newPass"
                                                               class="form-control">
                            </div>
                            <button class="btn btn-primary col-md-12">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>