<!DOCTYPE html>
<html lang="en" dir="ltr" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>

<header>
    <!-- Navigation menu -->
    <div th:replace="navigation.html"></div>
</header>

<br>
<br>
<br>


<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">

                    <div class="center">
                        <h1>Forgot Password</h1>

                        <form action="/forgotPasswordAction" method="post">

                            <div class="txt_field">
                                <input type="email" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" title="Please enter a correct email" name="email">
                                <span></span>
                                <label>Email</label>
                            </div>

                            <div class="txt_field">
                                <input type="tel" required pattern="^\+?\d{11,12}$" title="Please enter a correct phone number" name="phoneNumber">
                                <span></span>
                                <label>Phone number</label>
                            </div>

                            <th:block th:if="${session.msg}">
                                <p class="text-center fs-4 text-success" th:text="${session.msg}"></p>
                                <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
                            </th:block>

                            <th:block th:if="${session.msg}">
                                <p class="text-center fs-4 text-error" th:text="${session.msg}"></p>
                                <th:block th:text="${#session.removeAttribute('msgErr')}"></th:block>
                            </th:block>

                            <input type="submit" value="Reset">

                            <div class="signup_link">
                                Remember your password? <a href="/signin">Login</a>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>