<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../static/style.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <!-- Navigation menu -->
    <div th:replace="navigation.html"></div>
</header>

<section>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Forgot Password</div>

                    <form action="forgotPasswordAction" method="post">

                        <th:block th:if="${session.msg}">
                            <p class="text-center fs-4 text-success">[[${session.msg}]]</p>
                            <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
                        </th:block>

                        <div class="mb-3">
                            <label>Email</label> <input type="text" name="email"
                                                        class="form-control">
                        </div>

                        <div class="mb-3">
                            <label>Phone Number</label> <input type="tel" name="phoneNumber"
                                                           class="form-control">
                        </div>
                        <button class="btn btn-primary col-md-12">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>