<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
    <link rel="stylesheet" href="styleNavigation.css">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">

</head>

<body>
<header>
    <a href="/" class="logo"><i class="ri-home-line"></i><h1>HotReserve</h1></a>

    <th:block th:if="${user==NULL}">

        <ul class="navbar">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Blog</a></li>
        </ul>

        <div class="main">
            <a href="/signin">Login</a>
            <a href="/register">Register</a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>

    </th:block>

    <th:block th:if="${user!=NULL}">

        <ul class="navbar">
            <li><a href="/user/" class="active">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Blog</a></li>
        </ul>

        <div class="user-menu">
            <a class="user" [[${user.firstName}]></a>
            <ul class="dropdown">
                <li><a href="profile">My Profile</a></li>
                <li><a href="#">Booking history</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>

    </th:block>


</header>

<!--js--->
<script>
    let menu = document.querySelector ('#menu-icon');
    let navbar = document.querySelector ('.navbar');

    menu.onclick = () => {
        menu.classList. toggle('bx-x');
        navbar.classList.toggle('open'); }
</script>


</body>
</html>


