<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

</html>

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" th:href="@{../css/style.css}">
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Payment – InfinityHotel</title>
</head>

<style>
  body {
    background: #f3f3f3;
    height: auto;
    overflow: auto;

  }

  .card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: 1rem;
  }

  .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
  }
</style>


<header>
  <!-- Navigation menu -->
  <div th:replace="navigation.html"></div>
</header>

<body>

  <div class="container">
    <h1 class="h3 mb-5" style="margin-top: 8%;">Payment</h1>
    <form th:action="@{/rooms/booking/payment/createReservation}" method="post">
      <div class="row">
        <!-- Left -->
        <div class="col-lg-9">
          <div class="accordion" id="accordionPayment">
            <!-- Credit card -->
            <div class="accordion-item mb-3">
              <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
                <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseCC"
                  aria-expanded="false">
                  <input class="form-check-input" type="radio" name="payment" id="payment1">
                  <label class="form-check-label pt-1" for="payment1">
                    Credit Card
                  </label>
                </div>
                <span>
                  <svg width="34" height="25" xmlns="http://www.w3.org/2000/svg">
                    <g fill-rule="nonzero" fill="#333840">
                      <path
                        d="M29.418 2.083c1.16 0 2.101.933 2.101 2.084v16.666c0 1.15-.94 2.084-2.1 2.084H4.202A2.092 2.092 0 0 1 2.1 20.833V4.167c0-1.15.941-2.084 2.102-2.084h25.215ZM4.203 0C1.882 0 0 1.865 0 4.167v16.666C0 23.135 1.882 25 4.203 25h25.215c2.321 0 4.203-1.865 4.203-4.167V4.167C33.62 1.865 31.739 0 29.418 0H4.203Z">
                      </path>
                      <path
                        d="M4.203 7.292c0-.576.47-1.042 1.05-1.042h4.203c.58 0 1.05.466 1.05 1.042v2.083c0 .575-.47 1.042-1.05 1.042H5.253c-.58 0-1.05-.467-1.05-1.042V7.292Zm0 6.25c0-.576.47-1.042 1.05-1.042H15.76c.58 0 1.05.466 1.05 1.042 0 .575-.47 1.041-1.05 1.041H5.253c-.58 0-1.05-.466-1.05-1.041Zm0 4.166c0-.575.47-1.041 1.05-1.041h2.102c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042H5.253c-.58 0-1.05-.466-1.05-1.042Zm6.303 0c0-.575.47-1.041 1.051-1.041h2.101c.58 0 1.051.466 1.051 1.041 0 .576-.47 1.042-1.05 1.042h-2.102c-.58 0-1.05-.466-1.05-1.042Zm6.304 0c0-.575.47-1.041 1.051-1.041h2.101c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042h-2.101c-.58 0-1.05-.466-1.05-1.042Zm6.304 0c0-.575.47-1.041 1.05-1.041h2.102c.58 0 1.05.466 1.05 1.041 0 .576-.47 1.042-1.05 1.042h-2.101c-.58 0-1.05-.466-1.05-1.042Z">
                      </path>
                    </g>
                  </svg>
                </span>
              </h2>
              <div id="collapseCC" class="accordion-collapse collapse show" data-bs-parent="#accordionPayment" style="">
                <div class="accordion-body">
                  <div class="mb-3">
                    <label class="form-label">Card Number</label>
                    <input type="text" class="form-control" placeholder="">
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="mb-3">
                        <label class="form-label">Name on card</label>
                        <input type="text" class="form-control" placeholder="">
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="mb-3">
                        <label class="form-label">Expiry date</label>
                        <input type="text" class="form-control" placeholder="MM/YY">
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="mb-3">
                        <label class="form-label">CVV Code</label>
                        <input type="password" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pay Later -->
            <div class="accordion-item mb-3 border">
              <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
                <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePP"
                  aria-expanded="false">
                  <input class="form-check-input" type="radio" name="payment" id="payment2">
                  <label class="form-check-label pt-1" for="payment2">
                    Pay Later
                  </label>
                </div>
              </h2>
              <div id="collapsePP" class="accordion-collapse collapse" data-bs-parent="#accordionPayment" style="">
              </div>
            </div>
          </div>
        </div>

        <!-- Right -->
        <div class="col-lg-3">
          <div class="card position-sticky top-0">
            <div class="p-3 bg-light bg-opacity-10">
              <h5 class="card-title mb-3">Booking Summary</h6>
                <hr>
                <h6 class="card-title mb-3" style="margin-top: 4%;">[[${room.name}]]
              </h5>
              <div class="row align-items-start">
                <p class="card-text"><i class="ri-user-line"></i>Persons: [[${room.capacity}]]</p>
              </div>

              <div class="d-flex justify-content-between mb-1 small">
                <span><i class="ri-calendar-line"></i>Check in</span> <span>[[${checkIn}]] after
                  14:00</span>
              </div>
              <div class="d-flex justify-content-between mb-1 small">
                <span><i class="ri-calendar-close-line"></i>Check out</span> <span>[[${checkOut}]] before
                  12:00</span>
              </div>
              <hr>
              <div class="d-flex justify-content-between mb-4 small">
                <span> </span> <strong class="text-dark"> [[${nights}]] nights – €[[${priceTotal}]]</strong>
              </div>

              <div class="form-check mb-3 small">
                <input class="form-check-input" type="checkbox" value="" id="subscribe">
                <label class="form-check-label" for="subscribe">
                  Get emails about product updates and events. If you change your mind, you can unsubscribe at any
                  time.
                  <a href="#">Privacy Policy</a>
                </label>
              </div>
              <input type="hidden" th:value="${idUser}" name="idUser">
              <input type="hidden" th:value="${checkIn}" name="checkIn">
              <input type="hidden" th:value="${checkOut}" name="checkOut">
              <input type="hidden" th:value="${room.idRoom}" name="idRoom">
              <input type="hidden" th:value="${guests}" name="guests">
              <input type="hidden" th:value="${priceTotal}" name="priceTotal">
              <input type="text" th:value="${newAcc}" name="newAcc">

              <button type="submit" class="btn btn-primary w-100 mt-2">Book room</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.3/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
    integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha384-3J3o6pGbm6L9vo+4XQ6b2Y6JnDY5W/pevB1lzNM2K9z0R/5BzwJXOYwqpfD0jc/+" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"
    integrity="sha512-nE+SoQwzhB58N7gCB0pkpG0bg7jT/ynrJf0FGl1Ce54jPRfzFrtwrEXGji3xiq9kOvE6UfhR6dfNgOJ2Abx5dQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>