<!DOCTYPE html>
<html lang="en" dir="ltr" xml:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Reset password </title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>

<body>

    <header>
        <!-- Navigation menu -->
        <div th:replace="navigation.html"></div>
    </header>


    <br>
    <br>
    <br>


    <section>
        <div class="container p-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">

                        <div class="center">
                            <h1>Reset Password</h1>

                            <form action="/changePassword" method="post">

                                <div class="txt_field">
                                    <input type="text" required name="psw">
                                    <span></span>
                                    <label>New Password</label>
                                </div>

                                <div class="txt_field">
                                    <input type="text" required name="cpsw">
                                    <span></span>
                                    <label>Confirm Password</label>
                                </div>

                                <th:block th:if="${session.msg}">
                                    <p class="text-center fs-4 text-success" th:text="${session.msg}"></p>
                                    <th:block th:text="${#session.removeAttribute('msgErr')}"></th:block>
                                </th:block>

                                <input type="hidden" name="id" th:value="${id}">

                                <input type="submit" value="Change Password">

                                <div class="signup_link">
                                    Not a member? <a href="/register">Create Account</a>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>