<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

</head>

<style>
    .navbar-brand {
        scale: 130%;
        font-weight: bold;
        margin-left: 2%;
    }
    .nav-item.dropdown{
        margin-right: 2%;
    }
    .dropdown-menu{
        margin-right: 10%;
    }
</style>

<body>


    <nav class="navbar fixed-top navbar-expand-lg" style="background-color: rgba(255, 255, 255, 0.7);">
        <div class="container-fluid">
            <a class="navbar-brand " href="/"><i class="ri-home-line"></i>InfinityHotel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/rooms">Rooms</a>
                    <a class="nav-link" href="#">About Us</a>
                    <a class="nav-link" href="#">Contacts</a>

                    <li class="nav-item" th:if="${user_role == 'ROLE_ADMIN'}">
                        <a class="nav-link" href="/admin/" style="font-weight: bold; color: red;">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>

        <th:block th:if="${user==NULL}">

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto">
                    <a class="nav-link" href="/signin">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                </ul>
            </div>

        </th:block>

        <th:block th:if="${user!=NULL}">

            <div class="nav-item dropdown">
                <div class="ri-user-line" id="user-icon"></div>
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        [[${user.firstName}]]</a>
                <ul class="dropdown-menu">
                    <li th:if="${user_role == 'ROLE_ADMIN'}">
                        <a class="ri-settings-4-line" th:href="@{admin/profile}"> My Profile</a>
                    </li>
                    <li th:if="${user_role == 'ROLE_USER'}">
                        <a class="ri-settings-4-line" th:href="@{user/profile}"> My Profile</a>
                    </li>
                    <li>
                        <a class="ri-history-line" href="#"> Booking history</a>
                    </li>
                    <li>
                        <a class="ri-logout-box-r-line" href="/logout"> Logout</a>
                    </li>
                </ul>
            </div>
        </th:block>



    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

</body>

</html>